In [1]:
tup = (1,2,3,4,2,5,6,2)

In [2]:
print(tup)

(1, 2, 3, 4, 2, 5, 6, 2)

In [4]:
print(tup.count(2))

3

In [8]:
print(tup.index(5))

5

In [9]:
#conditional statements

In [13]:
amo = int(input("enter the left out amount :"))
if amo > 10 :
  print("chai & biscuit")
  print("done")

enter the left out amount :15
chai & biscuit
done

In [18]:
amo = int(input("enter the left out amount :"))
if amo > 10 :
  print("chai & biscuit")
else:
    print("only biscuit")
    print("done")

enter the left out amount :9
only biscuit
done

In [19]:
amo = int(input("enter the left out amount :"))
if amo > 10 :
  print("chai & biscuit")
elif amo > 5:
  print("only chai")
else:
    print("only biscuit")
    print("done")

enter the left out amount :6
only chai

In [28]:
i = 1
while i>=10:
  print('5')
  i = i + 1

In [29]:
for i in range(1,11):
  print("5")

5
5
5
5
5
5
5
5
5
5

In [30]:
for i in range(1,11):
  print("5" , end = " ")

5 5 5 5 5 5 5 5 5 5

In [31]:
city = "mumbai"
for i in city:
  print(i,end="")

mumbai

In [32]:
city = "mumbai"
for i in city:
  print(i,end="_")

m_u_m_b_a_i_

In [33]:
li=[1,2,4,5,7,9]
for i in li:
  print(i,end=" ")

1 2 4 5 7 9

In [37]:
dict1 = {"name":"sekhar","age":25,"college":"NIPER"}
for i in dict1:
  print(i,end=" ")

name age college

In [38]:
dict1 = {"name":"sekhar","age":25,"college":"NIPER"}
for i in dict1.values():
  print(i,end=" ")

sekhar 25 NIPER

In [39]:
dict1 = {"name":"sekhar","age":25,"college":"NIPER"}
for i in dict1.items():
  print(i,end=" ")

('name', 'sekhar') ('age', 25) ('college', 'NIPER')

In [41]:
x = int(input("enter the 1st value"))
y = int(input("enter the 2nd value"))
res = x ** y
print(res)

enter the 1st value10
enter the 2nd value2
100

In [44]:
x = int(input("enter the 1st value"))
y = int(input("enter the 2nd value"))
res = x ** y
print(f"result is {res}")

enter the 1st value20
enter the 2nd value4
result is 160000